<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>DAS-SYSTEM-SERVER</display-name>
    <context-param>
    <param-name>resteasy.scan</param-name>
    <param-value>true</param-value>
  </context-param>
  <listener>
    <listener-class>
       org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/dassystem/*</url-pattern>
  </servlet-mapping>
<!--   <servlet> -->
<!--     <servlet-name>jersey-serlvet</servlet-name> -->
<!--     <servlet-class> -->
<!--         	com.sun.jersey.spi.container.servlet.ServletContainer -->
<!--         </servlet-class> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--       <servlet-name>WebController</servlet-name> -->
<!--       <servlet-class>de.fhb.dassystem.service.WebController</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--       <servlet-name>WebController</servlet-name> -->
<!--       <url-pattern>/*</url-pattern> -->
<!--   </servlet-mapping> -->
  
<!--   <servlet-mapping> -->
<!--     <servlet-name>jersey-serlvet</servlet-name> -->
<!--     <url-pattern>/doj/*</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet> -->
<!--     <servlet-name>WsChatServlet</servlet-name> -->
<!--     <servlet-class>de.fhb.action.WsChat</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>WsChatServlet</servlet-name> -->
<!--     <url-pattern>/wschat/WsChatServlet</url-pattern> -->
<!--   </servlet-mapping> -->
</web-app>